<p id="notice"><%= notice %></p>


<div class="row">
	<div class="topic_content span7">
		<div class="inner">
			<p><%= link_to "← #{@topic.space.display_name}", @topic.space %></p>
			<h2><%= @topic.title %></h2>
			<p class="mt5 lighter"><small>更新 (12)：<%= @topic.updated_at.strftime("%Y-%m-%d %H:%M:%S") %> / 发表：<%= @topic.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small></p>
			<hr />
			<div><%= @topic.content %></div>
		</div>
	</div>

	<div class="topic_replies span5">
		
		<div class="topic_replies_form clearfix">
			<%= text_area_tag :reply, nil, :rows => 3, :class => 'input-fullsize' %>
			<%= link_to "回复", nil, :class => 'pull-right btn btn-mini' %>
		</div>

		<div class="list"></div>

	</div>
</div>

<%= link_to 'Edit', edit_topic_path(@topic, :space_id => @topic.space.id) %>
