<!DOCTYPE html>
<html>
<head>
  <title>P2ex</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<h1 style="text-align:center;">- <%= link_to 'P2EX', root_path %> -</h1>
	<p class="login mb20">
		<% if signed_in? %>
		<%= current_user.email %>, <%= link_to "退出", destroy_user_session_path, :method => :delete %>
	  <% else %>
		<%= link_to '登录', new_user_session_path %> / <%= link_to '注册', new_user_registration_path %>
		<% end %>
	</p>
	
	<%= yield %>

	<div class="footer">Yan's - 2012/10/19</div>
</div>

</body>
</html>
